<!DOCTYPE html>
<html>
<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Online Shop Family 4 E-commerce Bootstrap Template</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <script src="~/Assets/Customer/js/layout.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="./Assets/Customer/images/logowhite.jpg" type="image/gif" sizes="30*30">
    <link rel="stylesheet" type="text/css" href="~/Assets/Customer/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Customer/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Customer/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Customer/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Customer/css/owl.carousel.css">
    <link rel="shortcut icon" href="images/favicon.png">
    <link href="~/Assets/Customer/css/960.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href="~/Assets/Customer/css/backgound.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/Customer/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/Customer/images/apple-touch-icon-114x114.png">
</head>

<body>
    <!-- =====  LODER  ===== -->
    <div id="warp">
        <div id="main" class="container_16">
            <div id="header" class="grid_16">
                <div id="logo" class="grid_4 alpha">
                    <h1><a href="/home/index">Family 4</a></h1>
                    <h2>Nhanh chóng - Đầy đủ dinh dưỡng</h2>
                </div>
                @{
                    var session = (controller.Models.KHACH_HANG)Session["TaiKhoan"];


                }
                <div id="headright" class="grid_7 prefix_5 omega">
                    @if (session == null)
                    {
                        <h3 class="login"><a href="~/NguoiDung/DangKy">Đăng ký</a> / <a href="~/NguoiDung/DangNhap">Đăng nhập</a></h3>
                    }
                    else
                    {
                        <h3 class="login"><span class="hiUser">Hi,@session.TEN_KH |</span><span class="myAccount"><a href="/Nguoidung/DoiMk">Đổi Mật khẩu</a></span>  |<span class="myAccount"><a href="/Nguoidung/details">My Account</a></span> @Html.ActionLink("Đăng xuất", "Dangxuat", "NguoiDung")</h3>
                        <p>Tổng tiền: @ViewBag.tongtien VND</p>
                    }
                    <p><span class="vChart"><a href="/Giohang/GioHang"> <i class="fa-solid fa-cart-shopping"></i>Giỏ hàng</a></span> <span class="cOut"><a href="/GioHang/DatHang">Thanh toán</a></span></p>
                </div>
            </div>
            <div id="mainMenu" class="grid_16">
                <ul>
                    <li><a href="/Home/Index" class="aActive">Trang chủ</a></li>
                    <li><a href="/Home/Menu">Menu</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="~/hotro.html">Hỗ trợ</a></li>
                    <li><a href="~/GoogleMap.html">Bản đồ</a></li>
                </ul>
            </div>
            <div id="stickySearch" class="grid_16">
                @*<div class="stickyNews grid_12 alpha">
                    </div>*@
                <form name="Search" action="/Home/Search" method="post">
                    <input type="text" placeholder="Tìm kiếm Món ăn" name="searchMUSIC" />
                    <button class="find" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

        </div>
        <div class="clear"></div>
    </div>

    <div class=" body-content">
        <div class="flexmonan">
            @RenderBody()

        </div>
    </div>

    <div id="richContent2">
        <div class="container_16">
            <div class="fromBlog grid_4">
                <h4>Về chúng tôi</h4>
                <h5>MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN</h5>
                <p>Nếu bạn đang tìm kiếm một trang web để đặt những món ăn, thức uống ngon đầy đủ chất dinh dưỡng thì Family 4 là một sự lựa chọn tuyệt vời dành cho bạn. Family 4 là một social E-commerce platform - nền tảng trang web Nhà hàng điện tử tích hợp. Điều này cho phép nhà hàng và khách hàng dễ dàng tương tác...<a href="#" class="bookMan">more &raquo;</a></p>
            </div>
            <div class="corporateInfo grid_4">
                <h4>Thông tin về Team</h4>
                <ul>
                    <li><a href="#">Nguyễn Thị Thu</a></li>
                    <li><a href="#">Chánh Hồng Ngọc</a></li>
                    <li><a href="#">Nguyễn Công Mạnh Tân</a></li>
                    <li><a href="#">Đặng Thanh Quy</a></li>
                </ul>
            </div>
            <div class="storeDelivery grid_4">
                <h4>Nhà Hàng &amp; Vận chuyển</h4>
                <ul>
                    <li><a href="#">Địa chỉ nhà hàng</a></li>
                    <li><a href="#">Thông tin về vận chuyển</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Quà tặng thành viên</a></li>
                </ul>
            </div>
            <div class="socialNet grid_4">
                <h4>Theo dõi tại đây</h4>
                <ul>
                    <li><a href="#" class="facebook">Facebook</a></li>
                    <li><a href="#" class="twitter">Twitter</a></li>
                    <li><a href="#" class="feed">Feed</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer">
        <div class="container_16">
            <div class="copyright grid_16">
                <p class="left">Copyright &copy; 2022, Team Family 4</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div align=center><a href='http://all-free-download.com/free-website-templates/'></a></div>

    <!-- =====  FOOTER END  ===== -->
    <a id="scrollup"></a>
    <script src="~/Assets/Customer/js/jQuery_v3.1.1.min.js"></script>
    <script src="~/Assets/Customer/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Customer/js/bootstrap.min.js"></script>
    <script src="~/Assets/Customer/js/jquery.magnific-popup.js"></script>
    <script src="~/Assets/Customer/js/jquery.firstVisitPopup.js"></script>
    <script src="~/Assets/Customer/js/custom.js"></script>
    @*   @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
<style>
    .body-content {
        background: #40210B;
        min-height: 500px;
        border-top: 1px solid #5B2F0D;
        border-bottom: 1px solid #5B2F0D;
    }

    .flexmonan {
        display: flex;
        width: 1200px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    #headright h3,
    #headright p {
        width: 400px;
    }

    .find {
        color: #000;
        font-size: 15px;
    }

        .find i {
            padding: 10px;
        }
</style>
</html>

