@model IEnumerable<controller.Models.CT_DONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DON_HANG.MA_KH)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.DON_HANG.KHACH_HANG.TEN_KH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MENU.TEN_MON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEN_MON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINH_ANH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DON_HANG.MA_KH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DON_HANG.KHACH_HANG.TEN_KH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MENU.TEN_MON)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GIABAN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TEN_MON)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HINH_ANH)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
