@model controller.Models.KHACH_HANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2>Thông tin khách hàng: @Html.DisplayFor(model => model.TEN_KH)</h2>

<h3>Bạn có chắc muốn xóa điều này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Xóa" class="btn btn-default" /> 
            <button>
                @Html.ActionLink("Quay lại trang", "Index")
            </button>
        </div>
    }
</div>
