@model controller.Models.MENU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_MON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_MON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA_MON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA_MON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_MON_AN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
