@using controller.Models
@model List<GioHangItem>
@{
    ViewBag.Title = "Dathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đặt hàng</h2>
<form enctype="multipart/form-data" method="post" action="#">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="text-center">Hình ảnh</td>
                    <td class="text-left">Tên Món</td>
                    <td class="text-left">Số Lượng</td>
                    <td class="text-right">Đơn Giá</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left"><a href="product.html">@item.TEN_MON</a></td>
                        <td style="width: 100px;"><a href="#"><img src="@item.HINH_ANH"></a></td>
                        <td class="text-left">
                            <input type="number" min="1" name="Txtsl" value="@item.sO_LUONG" />
                        </td>
                        <td class="text-right poins">@string.Format("{0:0,0}", item.dthanhtien) VND</td>
                    </tr>
                    <tr>@Html.ActionLink("Trờ về Giỏ hàng", "GioHang", "GioHang")</tr>
                }
            </tbody>
        </table>
        <div style="color:red;text-align:right;font-weight:800">
            <label class="text-left">Tổng số món ăn:@ViewBag.tongsoluong</label>
            <br />
            <label class="text-left">Tổng thành tiền:@ViewBag.tongtien VND</label>
        </div>
    </div>
</form>
<h2>Thông tin Người đặt</h2>
@{ 
    KHACH_HANG kh = (KHACH_HANG)Session["TaiKhoan"];
}
<table align="center">
    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td>Họ tên khách hàng:</td>
        <td style="font-weight:bold">@kh.TEN_KH</td>
    </tr>
    <tr style="height:40px">
        <td>Địa chỉ khách hàng:</td>
        <td style="font-weight:bold">@kh.DIA_CHI_KH</td>
    </tr>
    <tr style="height:40px">
        <td>Số điện thoại khách hàng:</td>
        <td style="font-weight:bold">@kh.SDT_KH</td>
    </tr>
    <tr style="height:40px">
        <td>Ngày lập hóa đơn:</td>
        <td style="font-weight:bold">@DateTime.Now.ToShortDateString()       
        </td>
    </tr>
    <tr style="height:40px">
        <td>Ngày giao hàng:</td>
        <td style="font-weight:bold">
            <input type="date" name="Ngaygiao" />
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
        <td>
            @Html.ActionLink("Dathang","Giohang")
        </td>
    </tr>
</table>

