@using controller.Models
@model List<GioHangItem>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:1200px;text-align:center;">
    <h4 style="text-align:center;font-size:20px;display:inline-block;font-weight:700;padding:20px 0;">Giỏ hàng của bạn</h4>
</div>
<table class="table" style="width:1200px;">
    <tr>
        <th scope="col">Tên món</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Số lượng</th>
        <th>Đơn giá</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="text-center">
            @using (Html.BeginForm("UpdateSP", "GioHang", new { @MA_MON_AN = item.MA_MON_AN }))
            {
                <td>@item.TEN_MON</td>
                <td ><img src="@item.HINH_ANH"></td>
                <td>
                    <input type="number" min="0" class="witch-100" name="Txtsl" value="@item.sO_LUONG" />
                    <button type="submit" class=" btupdate"><i class="fa-solid fa-arrows-rotate"></i></button>
                    @*<input type="submit" value="Cập nhật" />*@
                </td>
                <td>@string.Format("{0:0,0}", item.dthanhtien) VND</td>
                <td>@Html.ActionLink("Xóa", "XoaSP", new { @MA_MON_AN = item.MA_MON_AN })</td>
                <td></td>
            }
        </tr>
    }


</table>
<div style="color:red;text-align:right;font-weight:800">
    <label class="text-left">Tổng số món ăn:@ViewBag.tongsoluong</label>
    <br />
    <label class="text-left">Tổng thành tiền:@ViewBag.tongtien VND</label>
</div>
<div style="display:flex;align-items:center;margin-bottom:5px;">
    <div class="btn-click">
        @Html.ActionLink("Tiếp tục mua sắm", "insertSP")
    </div>
    <div class="btn-click">
        @Html.ActionLink("Xóa tất cả giỏ hàng", "DeleteAllcart")
    </div>
    <div class="btn-click">
        @Html.ActionLink("Thanh toán", "Dathang")
    </div>
</div>
<style>
    .witch-100{
        width:100px;
    }
    .btupdate {
        background: none;
        border: none;
    }
        .btupdate i {
            padding: 5px;
            font-size: 18px;
            line-height: 100%;
        }
    .btn-click {
        background: #000;
        border-radius: 5px;
        margin-right: 5px;
    }

        .btn-click a {
            padding: 15px;
            color: #fff;
            display: block;
        }

        .btn-click:hover {
            background: #e40001;
        }
        tr th{
            text-align:center;
        }
    tr th:last-child(3),
    tr td:last-child(3) {
        width: 100px;
    }
</style>
