@model IEnumerable<controller.Models.GioHangItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Assets/Customer/js/controller/cartController.js"></script>
    <script src="~/Assets/Customer/js/controller/Cart.js"></script>

}
<div class="row ">
    <!-- =====  BANNER STRAT  ===== -->
    <div class="col-sm-12">
        <div class="breadcrumb ptb_20">
            <h1>Giỏ hàng</h1>
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ul>
        </div>
    </div>
    <!-- =====  BREADCRUMB END===== -->

    <div class="col-sm-8 col-lg-9 mtb_20">
        <form enctype="multipart/form-data" method="post" action="#">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">Hình ảnh</td>
                            <td class="text-left">Tên Món</td>
                            <td class="text-left">Số Lượng</td>
                            <td class="text-right">Đơn Giá</td>
                            <td class="text-right"></td>

                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 100px;"><a href="#"><img src="@item.monAn.HINH_ANH"></a></td>
                                <td class="text-left"><a href="product.html">@item.monAn.TEN_MON</a></td>
                                <td class="text-left">
                                    <div style="max-width: 120px;" class="input-group btn-block">
                                        <input id="sl" type="text" class="form-control quantity" data-id="@item.monAn.MA_MON_AN" value="@item.sO_LUONG" name="quantity">

                                    </div>
                                </td>
                                <td class="text-right poins">@item.monAn.GIA_MON</td>
                                <td><a href="#" data-id="@item.monAn.MA_MON_AN" class="btn-delete">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
                @*<tbody>
                        <tr>
                            <td class="text-right"><strong>Tổng phụ:</strong></td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Giảm Giá(%):</strong></td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>VAT (20%):</strong></td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Tổng Tiền:</strong></td>
                            <td class="text-right"></td>
                        </tr>
                    </tbody>*@
            </table>
        </div>
    </div>
    <button id="btnContinue" class="btn">Tiếp tục mua sắm</button>
    <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
    <button id="btnDeleteAll" class="btn">Xóa giỏ hàng</button>
    <button id="btnPayment" class="btn">Thanh Toán</button>
</div>

<div id="brand_carouse" class="ptb_30 text-center">
    <div class="type-01">
        <div class="row">
        </div>
    </div>
</div>
<script>

</script>


