@model controller.Models.KHACH_HANG

@{
    ViewBag.Title = "dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row-center {
        padding-left:25%;
    }

    .form-control{
        max-width:200px;
    }

    .mg5 {
        margin: 0 5px;
    }

    .fontleft {
        text-align: left !important;
    }

    .widthfull {
        min-width: 200px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:1200px">
        <h4 style="text-align:center;padding:20px;font-weight:700;">ĐĂNG KÝ THÀNH VIÊN</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <div class="form-group row-center">
            @Html.LabelFor(model => model.MA_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.EditorFor(model => model.MA_KH, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.MA_KH, "", new { @class = "text-danger " })
            <label style="color:red">
                @ViewData["Loi1"]
            </label>

        </div>
        <div class="form-group row-center ">
            @Html.LabelFor(model => model.MATKHAU_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.PasswordFor(model => model.MATKHAU_KH, new { htmlAttributes = new { @class = "form-control widthfull " } })
            @Html.ValidationMessageFor(model => model.MATKHAU_KH, "", new { @class = "text-danger" })
            <label style="color:red">
                @ViewData["Loi2"]
            </label>
        </div>
        <div class="form-group row-center">
            @Html.LabelFor(model => model.TEN_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.EditorFor(model => model.TEN_KH, new { htmlAttributes = new { @class = "form-control widthfull" } })
            @Html.ValidationMessageFor(model => model.TEN_KH, "", new { @class = "text-danger" })
            <label style="color:red">
                @ViewData["Loi3"]
            </label>

        </div>
        <div class="form-group row-center">
            @Html.LabelFor(model => model.DIA_CHI_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.EditorFor(model => model.DIA_CHI_KH, new { htmlAttributes = new { @class = "form-control widthfull" } })
            @Html.ValidationMessageFor(model => model.DIA_CHI_KH, "", new { @class = "text-danger" })
            <label style="color:red">
                @ViewData["Loi5"]
            </label>
        </div>
        <div class="form-group row-center">
            @Html.LabelFor(model => model.SDT_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.EditorFor(model => model.SDT_KH, new { htmlAttributes = new { @class = "form-control widthfull" } })
            @Html.ValidationMessageFor(model => model.SDT_KH, "", new { @class = "text-danger" })
            <label style="color:red">
                @ViewData["Loi6"]
            </label>

        </div>
        <div class="form-group row-center">
            @Html.LabelFor(model => model.EMAIL_KH, htmlAttributes: new { @class = "mg5 fontleft control-label col-md-2" })
            @Html.EditorFor(model => model.EMAIL_KH, new { htmlAttributes = new { @class = "form-control widthfull" } })
            @Html.ValidationMessageFor(model => model.EMAIL_KH, "", new { @class = "text-danger" })
            <label style="color:red">
                @ViewData["Loi4"]
            </label>
        </div>
        <div class="text-center">
            <input type="submit" value="Đăng ký" class="btn btn-default" />
        </div>
    </div>

}

