@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DangNhap", "Nguoidung"))
{
    <h4 class="text-center" style="padding:15px;font-size:20px">Đăng nhập</h4>
    <h4 class="text-center" style="color:red">@ViewBag.Thongbao</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset class="w400">
        <div>
            <label for="email2">Tên đăng nhập:</label>
            @Html.TextBox("TenDN")
            <label style="color:red">
                @ViewData["Loi1"]
            </label>
        </div>
        <br />
        <div>
            <label for="password2">Mật khẩu:</label>
            @Html.Password("MatKhau")
            <label style="color:red">
                @ViewData["Loi2"]
            </label>
        </div>
        <br />
        <div class="clear"></div>
    </fieldset>
    <a href="~/NguoiDung/QuenMk" target="_blank">Quên mật khẩu?</a>
    <p>
        <input type="submit" value="Login" tabindex="3" name="update" class="userLogin" />
    </p>
    <input type="hidden" value="30" />
}
<style>
    .w400 div label {
        width: 100px;
    }
</style>