@model controller.Models.MENU

@{
    ViewBag.Title = "ChiTietMonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Customer/css/960.css" rel="stylesheet" />
<div class="prodNav grid_16">
    <div class="breadcrumb grid_12 alpha"> <a href="#">Danh Mục</a> &raquo; <a href="#">@Model.LOAI</a> </div>

</div>
<div class="bodyContent grid_16">
    <div class="blogPage grid_11 g11 alpha">
        <div class="post">
            <p><img src="@Model.HINH_ANH" alt="" /></p>
          @*  <div class="user">
                <ion-icon name="person-circle-outline"></ion-icon>
                <div class="user_cmt">
                    <div>
                        <span class="name_user">@bl.THANHVIEN.HoTen</span>
                        <span class="time_cmt">@bl.ngaycmt</span>
                    </div>
                    <span class="cmt-main">@bl.comment1</span>
                </div>
            </div>*@

        </div>
    </div>
    <div class="sideBarProd grid_5 omega">
        <div class="sideBarWarp">
            <h3>@Model.TEN_MON</h3>
            <h4>@Model.GIA_MON VND</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. vivamus tempor justo sitouiet amet metus cursus consequat. Nullaiverra, felis vel accumsan fermentum, nisl enimuh.</p>
            <a href="@Url.Action("Themgiohang","GioHang",new {@MA_MON_AN=Model.MA_MON_AN,@strURL="/GioHang/GioHang" })"><i class="fa-solid fa-cart-shopping"></i><span>Thêm Vào Giỏ Hàng</span></a>

            <div class="clear"></div>
        </div>
    </div>
    
    
</div>
<div class="clear"></div>
<style>
    .sideBarWarp,
    .fiveStar {
        width: 280px;
    }
     .g11 {
        width: 640px;
    }
    .post p img{
        width:75%;
        height:75%;
    }
</style>
