<div id="fresh">
    <div class="container_16">
        <div id="freshCake" class="grid_16">
            <div class="grid_1 alpha"> <a class="prevButton">&laquo;</a></div>
            <div class="headLine grid_14">
                <h3>Món ăn</h3>
            </div>
            <div class="grid_1 omega"> <a class="nextButton">&raquo;</a></div>
        </div>
        <div class="newCakes">
            <div class="scroller">
                @foreach (var item in Model)
                {
                    if (String.Equals(@item.LOAI, "MonAn"))
                    {
                        <div class="newCake">
                            <a href="/Home/ChiTietMonAn/@item.MA_MON_AN" class="grid_4"><img src="@item.HINH_ANH" alt="" width="220" height="260" /></a>
                            <div class="descmonan">
                                <span>@item.TEN_MON</span>
                                <br />
                                <span>Giá: @item.GIA_MON VNĐ</span>
                                <br />
                                <div class="">
                                    <a href="@Url.Action("Themgiohang","GioHang",new {@MA_MON_AN=item.MA_MON_AN,@strURL=Request.Url.ToString() })"><span>Thêm Vào Giỏ Hàng</span></a>
                                </div>
                            </div>
                        </div>
                    }
                }
                </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="fresh">
    <div class="container_16">
        <div id="freshCake" class="grid_16">
            <div class="grid_1 alpha"> <a class="prevButton">&laquo;</a></div>
            <div class="headLine grid_14">
                <h3>Đồ uống</h3>
            </div>
            <div class="grid_1 omega"> <a class="nextButton">&raquo;</a></div>
        </div>
        <div class="newCakes">
            <div class="scroller">
                @foreach (var item in Model)
                            {
                                if (String.Equals(@item.LOAI, "NuocUong"))
                                {
                                    <div class="newCake"><a href="/Home/ChiTietMonAn/@item.MA_MON_AN" class="grid_4"><img src="@item.HINH_ANH" alt="" width="220" height="260" /></a>
                                                         <div class="descmonan">
                                                             <span>@item.TEN_MON</span>
                                                             <br />
                                                             <span>Giá: @item.GIA_MON VNĐ</span>
                                                             <br />
                                                             <div class="">
                                                                 <a href="@Url.Action("Themgiohang","GioHang",new {@MA_MON_AN=item.MA_MON_AN,@strURL=Request.Url.ToString() })"><span>Thêm Vào Giỏ Hàng</span></a>
                                                             </div>
                                                         </div>
                                    </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<style>
    #fresh {
        background: #40210B;
        border-top: 1px solid #5B2F0D;
        border-bottom: 1px solid #5B2F0D;
        height:390px;
    }
</style>