@model controller.Models.DTAC_TAI_XE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa điều này?</h3>
<div>
    <h4>Đối Tác Tài Xế</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã Tài Xế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_TX)
        </dd>
        <dt>
            Tên Tài Xế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TX)
        </dd>

        <dt>
            Địa Chỉ Tài Xế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI_TX)
        </dd>

        <dt>
            Biển Số Xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIEN_SO_XE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang", "Index")
        </div>
    }
</div>
