@model controller.Models.DTAC_TAI_XE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Đối Tác Tài Xế</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MA_TX)

        <div class="form-group">
                Tên Tài Xế
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_TX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_TX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                Địa Chỉ Tài Xế
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIA_CHI_TX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIA_CHI_TX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                Biển Số Xe
            <div class="col-md-10">
                @Html.EditorFor(model => model.BIEN_SO_XE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BIEN_SO_XE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
