@model IEnumerable<controller.Models.DTAC_TAI_XE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý thông tin tài xế</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Tài Xế
        </th>
        <th>
            Địa Chỉ Tài Xế
        </th>
        <th>
            Biển Số Xe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_TX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI_TX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIEN_SO_XE)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MA_TX }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MA_TX }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MA_TX })
        </td>
    </tr>
}

</table>
