@model controller.Models.NHAN_VIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HO_TEN_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HO_TEN_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUC_VU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUC_VU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_SINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_SINH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MA_NV }) |
    @Html.ActionLink("Quay lại trang", "Index")
</p>
