@model controller.Models.PHIEU_GIAM_GIA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa điều này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số Phiếu Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_PGG)
        </dd>
        <dt>
            Loại Phiếu Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_PGG)
        </dd>

        <dt>
            Hạn Sử Dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang", "Index")
        </div>
    }
</div>
