@model controller.Models.PHIEU_GIAM_GIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Phiếu Giảm Giá</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số Phiếu Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_PGG)
        </dd>
        <dt>
           Loại Phiếu Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_PGG)
        </dd>

        <dt>
            Hạn Sử Dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.SO_PGG }) |
    @Html.ActionLink("Quay lại trang", "Index")
</p>
